POSTGRES_DB=banking_intelligence
POSTGRES_USER=banking_admin
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TRANSACTION_API_TOKEN=replace_with_api_token
PLATFORM_API_KEY=replace_with_platform_api_key



