.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.pytest_*/
.pytest_tmp/
.pytest_local/
.pytest-*/
.ruff_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
data/generated/*.csv

#dbt generated artifacts
warehouse/target/
warehouse/logs/
warehouse/dbt_packages/
warehouse/.user.yml

# Airflow runtime artifacts
orchestration/airflow/logs/
